In [1]:
import pandas as pd
import numpy as np
import os
import re
import time

In [2]:
#Importing our train data for cleaning
df=pd.read_excel('Data_Train.xlsx')

In [3]:
df_new=df.copy()

In [4]:
# Function to clean the names 

def Clean_names(name): 
    # Search for 4 or more consecutive digits in the name
    if re.search('(\d\d\d\d \d\d\d\d)',name): 
        # Extract the position of beginning of pattern 
        pos = re.search('(\d\d\d\d \d\d\d\d)',name).start() 
        # return the cleaned name 
        return name[:pos] 
    
    if re.search('(\d\d\d\d)',name): 
        # Extract the position of beginning of pattern 
        pos = re.search('(\d\d\d\d)',name).start() 
        # return the cleaned name 
        return name[:pos]

#     if re.search('(\d\d\d)',name): 
#         # Extract the position of beginning of pattern 
#         pos = re.search('(\d\d\d)',name).start() 
#         # return the cleaned name 
#         return name[:pos]

    if re.search('^(\d\d)',name): 
        # Extract the position of beginning of pattern 
        pos = re.search('^(\d\d)',name).start() 
        # return the cleaned name 
        return name[:pos]
    if re.search('bsi[i]*[v]*',name): 
        # Extract the position of beginning of pattern 
        pos = re.search('bsi[i]*[v]*',name).start() 
        # return the cleaned name 
        return name[:pos]
    if re.search('bs [iv]',name): 
        # Extract the position of beginning of pattern 
        pos = re.search('bs [iv]*',name).start() 
        # return the cleaned name 
        return name[:pos]
    else: 
        # if clean up needed return the same name 
        return name

In [5]:
#Making all lowercase and removing unnecesary chars from our train data

df_new['Name']=df_new['Name'].apply(lambda x:x.lower())
df_new['Name']=df_new['Name'].apply(lambda x:''.join(x.lower() for x in x.split("new")))
df_new['Name']=df_new['Name'].apply(lambda x:''.join(x.lower() for x in x.split("petrol")))
df_new['Name']=df_new['Name'].apply(lambda x:''.join(x.lower() for x in x.split("diesel")))
df_new['Name']=df_new['Name'].apply(lambda x:''.join(x.lower() for x in x.split("cng")))
df_new['Name']=df_new['Name'].apply(lambda x:' '.join(x.lower() for x in x.split("-")))
df_new['Name']=df_new['Name'].apply(lambda x:' '.join(x.lower() for x in x.split("-")))
df_new['Name']=df_new['Name'].apply(lambda x:' '.join(x.lower() for x in x.split()))

#Spliting in Brand,Model and Variant
df_new['Brand']=df_new['Name'].apply(lambda x:' '.join(x.split()[:1]))
df_new['Model']=df_new['Name'].apply(lambda x:' '.join(x.split()[1:2]))
df_new['Variant']=df_new['Name'].apply(lambda x:' '.join(x.split()[2:]))

#Making all lowercase and removing unneceesary chars from Model and Variant columns
df_new['Model']=df_new['Model'].apply(lambda x:' '.join(x.lower() for x in x.split("-")))
df_new['Variant']=df_new['Variant'].apply(lambda x:' '.join(x.lower() for x in x.split("-")))

df_new['Model']=df_new['Model'].apply(lambda x:' '.join(x.lower() for x in x.split("_")))
df_new['Variant']=df_new['Variant'].apply(lambda x:' '.join(x.lower() for x in x.split("_")))

In [36]:
#Importing Scrapped data from Cardekho
df_cardekho=pd.read_excel('cars_scrapped_data_combined.xlsx')

In [37]:
#Making all lowercase and removing unnecesary chars from our train data

df_cardekho['Name']=df_cardekho['Name'].apply(lambda x:x.lower())
df_cardekho['Name']=df_cardekho['Name'].apply(lambda x:''.join(x.lower() for x in x.split("new")))
df_cardekho['Name']=df_cardekho['Name'].apply(lambda x:''.join(x.lower() for x in x.split("petrol")))
df_cardekho['Name']=df_cardekho['Name'].apply(lambda x:''.join(x.lower() for x in x.split("diesel")))
df_cardekho['Name']=df_cardekho['Name'].apply(lambda x:''.join(x.lower() for x in x.split("cng")))
df_cardekho['Name']=df_cardekho['Name'].apply(lambda x:' '.join(x.lower() for x in x.split("-")))
df_cardekho['Name']=df_cardekho['Name'].apply(lambda x:' '.join(x.lower() for x in x.split("-")))
df_cardekho['Name']=df_cardekho['Name'].apply(lambda x:' '.join(x.lower() for x in x.split()))

#Spliting in Brand,Model and Variant
df_cardekho['Brand']=df_cardekho['Name'].apply(lambda x:' '.join(x.split()[:1]))
df_cardekho['Model']=df_cardekho['Name'].apply(lambda x:' '.join(x.split()[1:2]))
df_cardekho['Variant']=df_cardekho['Name'].apply(lambda x:' '.join(x.split()[2:]))

#Making all lowercase and removing unneceesary chars from Model and Variant columns
df_cardekho['Model']=df_cardekho['Model'].apply(lambda x:' '.join(x.lower() for x in x.split("-")))
df_cardekho['Variant']=df_cardekho['Variant'].apply(lambda x:' '.join(x.lower() for x in x.split("-")))

df_cardekho['Model']=df_cardekho['Model'].apply(lambda x:' '.join(x.lower() for x in x.split("_")))
df_cardekho['Variant']=df_cardekho['Variant'].apply(lambda x:' '.join(x.lower() for x in x.split("_")))

In [38]:
df_cardekho_new=df_cardekho.copy()

In [39]:
#Making all lowercase and removing unnecesary chars from CardekhoData

df_cardekho_new['Brand']=df_cardekho_new['Brand'].apply(lambda x:x.lower())
df_cardekho_new['Model']=df_cardekho_new['Model'].apply(lambda x:str(x).lower())
df_cardekho_new['Variant']=df_cardekho_new['Variant'].apply(lambda x:str(x).lower())

df_cardekho_new['Brand']=df_cardekho_new['Brand'].apply(lambda x:' '.join(x.lower() for x in x.split("new")))
df_cardekho_new['Model']=df_cardekho_new['Model'].apply(lambda x:' '.join(x.lower() for x in x.split("new")))
df_cardekho_new['Variant']=df_cardekho_new['Variant'].apply(lambda x:' '.join(x.lower() for x in x.split("new")))

df_cardekho_new['Brand']=df_cardekho_new['Brand'].apply(lambda x:' '.join(x.lower() for x in x.split("-")))
df_cardekho_new['Model']=df_cardekho_new['Model'].apply(lambda x:' '.join(x.lower() for x in x.split("-")))
df_cardekho_new['Variant']=df_cardekho_new['Variant'].apply(lambda x:' '.join(x.lower() for x in x.split("-")))

df_cardekho_new['Brand']=df_cardekho_new['Brand'].apply(lambda x:' '.join(x.lower() for x in x.split("_")))
df_cardekho_new['Model']=df_cardekho_new['Model'].apply(lambda x:' '.join(x.lower() for x in x.split("_")))
df_cardekho_new['Variant']=df_cardekho_new['Variant'].apply(lambda x:' '.join(x.lower() for x in x.split("_")))

df_cardekho_new['Variant']=df_cardekho_new['Variant'].apply(lambda x:' '.join(x.lower() for x in x.split("petrol")))
df_cardekho_new['Variant']=df_cardekho_new['Variant'].apply(lambda x:' '.join(x.lower() for x in x.split("diesel")))
df_cardekho_new['Variant']=df_cardekho_new['Variant'].apply(lambda x:' '.join(x.lower() for x in x.split("cng")))

df_cardekho_new['Variant']=df_cardekho_new['Variant'].apply(lambda x:' '.join(x.lower() for x in x.split("\(\)")))
df_cardekho_new['Variant']=df_cardekho_new['Variant'].apply(lambda x:' '.join(x.lower() for x in x.split("\\")))
df_cardekho_new['Variant']=df_cardekho_new['Variant'].apply(lambda x:' '.join(x.lower() for x in x.split("()")))
df_cardekho_new['Variant']=df_cardekho_new['Variant'].apply(lambda x:' '.join(x.lower() for x in x.split("(")))
df_cardekho_new['Variant']=df_cardekho_new['Variant'].apply(lambda x:' '.join(x.lower() for x in x.split(")")))


df_cardekho_new['Model'] = df_cardekho_new['Model'].apply(Clean_names)
df_cardekho_new['Brand'] = df_cardekho_new['Brand'].apply(Clean_names)
df_cardekho_new['Variant'] = df_cardekho_new['Variant'].apply(Clean_names)

df_cardekho_new['Brand']=df_cardekho_new['Brand'].apply(lambda x:' '.join(x.lower() for x in x.split()))
df_cardekho_new['Model']=df_cardekho_new['Model'].apply(lambda x:' '.join(x.lower() for x in x.split()))
df_cardekho_new['Variant']=df_cardekho_new['Variant'].apply(lambda x:' '.join(x.lower() for x in x.split()))

In [40]:
#Cleaning the Model and Variant names further from train data

df_new['Model'] = df_new['Model'].apply(Clean_names)
df_new['Variant'] = df_new['Variant'].apply(Clean_names)
df_new['Variant']=df_new['Variant'].str.replace(r"\(.*\)","")

In [12]:
# #Cleaning the Model and Variant names in Train and cardekho if brand name is repeated in variant name
# for i in range (0,len(df_cardekho_new)):
#     if (df_cardekho_new.Brand[i] in df_cardekho_new.Variant[i]):
#         df_cardekho_new['Variant']=df_cardekho_new['Variant'].apply(lambda x:' '.join(x.lower() for x in x.split(df_cardekho_new.Brand[i])))

# for i in range (0,len(df_new)):
#     if (df_new.Brand[i] in df_new.Variant[i]):
#         df_new['Variant']=df_new['Variant'].apply(lambda x:' '.join(x.lower() for x in x.split(df_new.Brand[i])))

In [13]:
df_cardekho_new.head()

,Name,Price,Brand,Model,Variant
No,,,,,
0,aston martin db9 6 l v12,1.9 Cr,aston,martin,db9 6 l v12
1,aston martin db9 v12 volante,1.9 Cr,aston,martin,db9 v12 volante
2,aston martin dbs 6 l v12,1.3 Cr,aston,martin,dbs 6 l v12
3,aston martin dbs superleggera volante,5.0 Cr,aston,martin,dbs superleggera volante
4,aston martin one 77 v12,20.0 Cr,aston,martin,one 77 v12

In [41]:
#Adding Column New Price in train data and dropping old column of the same

df_new2=df_new.copy()

In [42]:
df_cardekho_new.to_csv("cars_scrapped_data_cleaned.csv")

In [43]:
df_cardekho_new=pd.read_csv('cars_scrapped_data_cleaned.csv')

In [39]:
# df_cardekho_new.drop_duplicates('Name',inplace=True)

In [42]:
# df_cardekho_new.Name.value_counts()

In [44]:
df_cardekho_new.head()

,Unnamed: 0,Name,Price,Brand,Model,Variant
0,0,aston martin db9 6 l v12,1.9 Cr,aston,martin,db9 6 l v12
1,1,aston martin db9 v12 volante,1.9 Cr,aston,martin,db9 v12 volante
2,2,aston martin dbs 6 l v12,1.3 Cr,aston,martin,dbs 6 l v12
3,3,aston martin dbs superleggera volante,5.0 Cr,aston,martin,dbs superleggera volante
4,4,aston martin one 77 v12,20.0 Cr,aston,martin,one 77 v12

In [45]:
df_new2.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Brand,Model,Variant
0,maruti wagon r lxi,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,maruti,wagon,r lxi
1,hyundai creta 1.6 crdi sx option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,hyundai,creta,1.6 crdi sx option
2,honda jazz v,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,honda,jazz,v
3,maruti ertiga vdi,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,maruti,ertiga,vdi
4,audi a4 2.0 tdi multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,audi,a4,2.0 tdi multitronic

In [46]:
#Checking Null Values
df_new2.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
Brand                   0
Model                   0
Variant                 0
dtype: int64

In [50]:
if (df_new2.Variant[0] in df_cardekho_new.loc[0,"Variant"]):
    print('yes')
else:
    print('no')

no

In [54]:
'''Fetching Price from Cardekho data and appending in train data if Brand,Model and Variant matches exactly'''

count=0
start = time.time()
for i in range (0,len(df_new2)):
    if (str(df_new2.loc[i,"New_Price"])=="nan"):
        loop2=0
        var=df_new2.Variant[i]
        var1=var[:15]

        for j in range(0,len(df_cardekho_new)):
            if((df_new2.loc[i,"Brand"]==df_cardekho_new.loc[j,"Brand"]) and (df_new2.loc[i,"Model"]==df_cardekho_new.loc[j,"Model"])):
                if (var in str(df_cardekho_new.loc[j,"Variant"])):
                    df_new2.loc[i,"New_Price"]=df_cardekho_new.loc[j,"Price"]
                    count+=1
                    loop2=1
                    break
        if (loop2==0):
            for j in range(0,len(df_cardekho_new)):
                if((df_new2.loc[i,"Brand"]==df_cardekho_new.loc[j,"Brand"]) and (df_new2.loc[i,"Model"]==df_cardekho_new.loc[j,"Model"])):
                    if (var1 in str(df_cardekho_new.loc[j,"Variant"])):
                        df_new2.loc[i,"New_Price"]=df_cardekho_new.loc[j,"Price"]
                        count+=1
                        loop2=1
                        break


stop=time.time()
print("Time taken is "+ str(stop-start) + " s")
print(count)

Time taken is 300.052476644516 s
1795

In [55]:
#Checking Null Values
df_new2.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            3381
Price                   0
Brand                   0
Model                   0
Variant                 0
dtype: int64

In [56]:
df_new2.to_excel("train_data_cleaned.xlsx")

In [64]:
df_new2=pd.read_excel('train_data_cleaned.xlsx')

In [66]:
'''Fetching Price from Cardekho data and appending in train data if Brand,Model matches exactly and
Variant matches atleast 7 letters '''

count=0
start = time.time()
for i in range (0,len(df_new2)):
    if (str(df_new2.loc[i,"New_Price"])=="nan"):
        loop2=0
        var=str(df_new2.Variant[i])
        var1=var[:7]
#         var2=var[:5]

        for j in range(0,len(df_cardekho_new)):
            if([(df_new2.loc[i,"Brand"]==df_cardekho_new.loc[j,"Brand"]) and (df_new2.loc[i,"Model"]==df_cardekho_new.loc[j,"Model"])]):
                if (var1 in str(df_cardekho_new.loc[j,"Variant"])):
                    df_new2.loc[i,"New_Price"]=df_cardekho_new.loc[j,"Price"]
                    count+=1
                    loop2=1
                    break


#Fetching Price from Cardekho data and appending in train data if Brand matches exactly, Model with atleast 4 letters
#Variant matches atleast 5 letters in variant column or brand column

#         if (loop2==0):
#             for j in range(0,len(df_cardekho_new)):      
#                 #if([(df_new2.loc[i,"Brand"]==df_cardekho_new.loc[j,"Brand"])]):
#                 if([(df_new2.loc[i,"Brand"]==df_cardekho_new.loc[j,"Brand"]) and (df_new2.loc[i,"Model"]==df_cardekho_new.loc[j,"Model"])]):
#                     #if (df_new2.loc[i,"Model"][:4] in df_cardekho_new.loc[j,"Brand"]):
#                     if ([(var2 in str(df_cardekho_new.loc[j,"Variant"])) or (var2 in str(df_cardekho_new.loc[j,"Model"]))]):
#                         df_new2.loc[i,"New_Price"]=df_cardekho_new.loc[j,"Price"]
#                         count+=1
#                         break
stop=time.time()
print("Time taken is "+ str(stop-start) + " s")
print(count)

Time taken is 135.3257577419281 s
1473

In [67]:
#df_new3=df_new2.copy()
df_new2.to_excel("train_data_cleaned2.xlsx")

In [70]:
#Checking Null Values
df_new2.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            1803
Price                   0
Brand                   0
Model                  13
Variant               408
dtype: int64

In [71]:
df_new3=df_new2.copy()

In [72]:
'''Fetching Price from Cardekho data and appending in train data if Brand matches exactly, Model or Variant with
atleast 4 letters'''

count=0
start=time.time()

for i in range (0,len(df_new)):
    loop2=0
    if (str(df_new3.loc[i,"New_Price"])=="nan"):
        var1=str(df_new3.loc[i,"Variant"])
        var1=var1[-5:]
        for j in range(0,len(df_cardekho_new)):      
            if((df_new3.loc[i,"Brand"]==df_cardekho_new.loc[j,"Brand"]) and (df_new3.loc[i,"Variant"][:4] in df_cardekho_new.loc[j,"Model"])):
                if (var1 in df_cardekho_new.loc[j,"Variant"]):
                    df_new3.loc[i,"New_Price"]=df_cardekho_new.loc[j,"Price"]
                    count+=1
                    loop2=1
                    break
#         if(loop2==0):
#             var1=str(df_new3.loc[i,"Variant"])
#             var1=var1[:6]
#             for j in range(0,len(df_cardekho_new)):      
#                 if([(df_new3.loc[i,"Brand"]==df_cardekho_new.loc[j,"Brand"]) and (df_new3.loc[i,"Model"][:4]==df_cardekho_new.loc[j,"Model"][:4])]):
#                     if var1 in df_cardekho_new.loc[j,"Variant"]:
#                         df_new3.loc[i,"New_Price"]=df_cardekho_new.loc[j,"Price"]
#                         count+=1
#                         break
stop=time.time()
print("Time taken is "+ str(stop-start)+" s")
print(count)

Time taken is 68.53502535820007 s
2

In [69]:
print(df_new3.New_Price.isnull().sum())
df_new3.to_excel("train_data_cleaned3.xlsx")

0

In [92]:
df_new4=df_new3.copy()
df_new4.columns = df_new4.columns.str.strip()

In [93]:
'''Fetching Price from Cardekho data and appending in train data if Brand matches exactly, Model with
atleast 4 letters and or Variant with different conditions'''

count=0
start=time.time()

for i in range (0,len(df_new)):
    loop2=0
    if (str(df_new4.loc[i,"New_Price"])=="nan"):
        for j in range(0,len(df_cardekho_new)):      
            if([(df_new4.loc[i,"Brand"]==df_cardekho_new.loc[j,"Brand"]) and (df_new4.loc[i,"Model"][:5]==df_cardekho_new.loc[j,"Model"][:5])]):
                if (df_new4.loc[i,"Variant"][-4:]==df_cardekho_new.loc[j,"Variant"][:4]):
                    df_new4.loc[i,"New_Price"]=df_cardekho_new.loc[j,"Price"]
                    count+=1
                    loop2=1
                    break
            if(loop2==0):
                if([(df_new4.loc[i,"Brand"]==df_cardekho_new.loc[j,"Brand"]) and (df_new4.loc[i,"Model"][:5]==df_cardekho_new.loc[j,"Model"][:5])]):
                    if ((df_new4.loc[i,"Variant"][-3:]==df_cardekho_new.loc[j,"Variant"][-3:]) and (df_new4.loc[i,"Variant"][4:] in df_cardekho_new.loc[j,"Model"])):
                        df_new4.loc[i,"New_Price"]=df_cardekho_new.loc[j,"Price"]
                        count+=1
                        loop2=1
                        break


stop=time.time()
print("Time taken is "+ str(stop-start)+" s")
print(count)

Time taken is 143.27582573890686 s
203

In [95]:
print(df_new4.New_Price.isnull().sum())

1010

In [41]:
df_new.to_excel("train_data_price_scrapped2.xlsx")